/* Barre de navigation */
.navbar {
    display: flex;
    gap: 15px;
    align-items: center;
    padding: 12px 20px;
    margin-bottom: 20px;
    background-color: #1e293b; /* bleu foncé moderne */
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

/* Liens */
.navbar a {
    color: #f8fafc;
    text-decoration: none;
    font-weight: 500;
    padding: 8px 14px;
    border-radius: 6px;
    transition: all 0.3s ease;
}

/* Effet hover */
.navbar a:hover {
    background-color: #38bdf8; /* bleu clair */
    color: #0f172a;
}

/* Lien actif (optionnel) */
.navbar a.active {
    background-color: #0ea5e9;
    color: white;
}

.FielsetAddPerso{
    width: 50%;
    height: 400px;
    justify-items: center;
     background-color: #cce8f2;
}
.contrainAddPerso{
    display: flex;
    justify-content: center;
}
.fielsetAddEle{
    width: 50%;
    height: 200px;
    justify-items: center;
    
}
.contrain{
 display: flex;
    justify-content: center;   
}
input, label,button{
    margin: 20px;
}
button{
    background-color: #0f172a;
    display: block;
    margin: 20px auto;
    color : white;
    border-radius: 5px;
    width: 100px;
    height: auto;
}
h1{
    text-align: center;
}
